<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="irepdata.model.Comment" />
        <mapping class="irepdata.model.Content" />
        <mapping class="irepdata.model.Idea" />
        <mapping class="irepdata.model.Tag" />
        <mapping class="irepdata.model.User" />
        <mapping class="irepdata.model.Image" />
    </session-factory>
    <!--<property name="hibernate.dialect">org.hibernate.dialect.DB2Dialect</property>-->
</hibernate-configuration>